.center {
    margin: auto;
    width: 50%;
    text-align: center;
}
.main{
    margin: auto;
    width: 50%;
}
body{
    background-image: url("/cst352/labs/lab6/img/stars.png");
}
h1{
    color: yellow;
}
.user, .pass, .country, .welcome{
    color: #fff48f;
}