.center {
    margin: auto;
    width: 50%;
    text-align: center;
}
.main, .addauthor, .upauthor{
    margin: auto;
    width: 50%;
} 


h1{
    color: yellow;
    text-align: center
}
.user, .pass, .country, .welcome, .countryaa, .fn, .ln, .gender, .male, .female, .dob, .dod, .pro, .url, .bio{
    color: #fff48f;
}