body {
    background-image: url("../img/professional.jpg");
        
}

header, main, nav, footer{
    text-align: center;
}
h1 {
    color: white;
}

nav a{
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /*removes underline*/
    color:  white; /*by default links are blue*/
}
nav a:hover{
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}
.current{
    background-color: #92a8d1;
}

#me, #text {
    color: white;
    text-align: center;
    background-color: #95bff2;
    border-radius: 25px;
}

footer{
    clear: left;
    font-size: 90%;
    color: white;
}
table {
    margin: 0px auto;
}
td {
    padding-right: 10px;
    font-size: 1.3em;
}
td strong{
    color: white;
}
#table-header{
    background-color: blue;
    
}
.table-row{
    background-color: blue;
    color: white;
}
ul {
    text-align: left;
    padding-left: 200px;
    color: white;
}

hr {
    width: 50%;
    
}
#table-header {
    margin-top: 100px;
}
